header{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
    background: rgb(0, 163, 101);
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-family: 'Argos';
    height:20px;
}

html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Create a footer that sticks to the bottom of the page */
footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    padding: 10px;
    border-top: 1px solid black;
    background: rgb(0, 163, 101);
    align-items: center;
    justify-content: center;
    font-family: 'Argos';
    height: 20px;
}

footer > a > img{
    width: 1.5rem;
    border: 0px;
}
ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 20px;

}

li:hover {
    filter:brightness(0.75);
    transition: 0.3s
}
.link {
    text-decoration: none;
    color: inherit;
    align-self:center;
}

.logo {
    font-family:'neuton';
    font-size: 30px;
}